		<div class="section">
			<form id="form" v-on:submit.prevent="addPost">
				<div class="field">
				  <label class="label">Name</label>
				  <div class="control">
				    <input class="input" type="text" v-model="newPost.name" placeholder="Username">
				  </div>
				  <p class="help is-danger" v-show="!validation.name">Please write your name</p>
				</div>

				<div class="field">
				  <label class="label">Email</label>
				  <div class="control">
				    <input class="input" type="email" v-model="newPost.email" placeholder="email@email.com">
				  </div>
				  <p class="help is-danger" v-show="!validation.email">This email is invalid</p>
				</div>

				<div class="field">
				  <label class="label">Message</label>
				  <div class="control">
				    <textarea class="textarea" type="text" v-model="newPost.post" placeholder="Write post !"></textarea>
				  </div>
				    <p class="help is-danger" v-show="!validation.post">Message is empty</p>
				</div>

				<div class="field is-grouped">
				  <div class="control">
				    <input class="button is-primary" type="submit" value="Add Post">
				  </div>
				</div>
			</form>
			<!-- // form -->
		</div>
